<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Relations between Personality and Music</title>
        <!-- Bootstrap core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/product.css" rel="stylesheet">
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>
  <body>
  
    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
<!--         <a class="py-2" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
        </a> -->
        <a class="py-2 d-none d-md-inline-block" href="/#">Understand Data</a>
        <a class="py-2 d-none d-md-inline-block" href="/relation">Relation</a>
        <a class="py-2 d-none d-md-inline-block" href="/tryit">Try it</a>
  
      </div>
    </nav>


<div class="container">
  
  <div class="row"> 
    <h2 class="text-center col-12">Users scater plot agrupped by</h2>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h4 class="text-center">Music</h4>
      <svg width="450" height="500" id="svg1"></svg>
    </div>

    <div class="col-lg-6">
      <h4 class="text-center">Personality</h4>
      <svg width="450" height="500" id="musicSVG"></svg>  
    </div>  
  </div>

  <div class="row"> 
    <h2 class="text-center col-12">Users scater plot agrupped by</h2>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h4 class="text-center">Music</h4>
      <svg width="450" height="500" id="svg4"></svg>
    </div>

    <div class="col-lg-6">
      <h4 class="text-center">Personality with music class</h4>
      <svg width="450" height="500" id="svg3"></svg>
    </div>  
  </div>

  <div class="row"> 
    <h2 class="text-center col-12">Users scater plot agrupped by</h2>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h4 class="text-center">Music with personality class</h4>
       <svg width="450" height="500" id="svg5"></svg>
    </div>

    <div class="col-lg-6">
      <h4 class="text-center">Personality</h4>
      <svg width="450" height="500" id="svg6"></svg>
    </div>  
  </div>


</div>

    <footer class="container py-5">
      <div class="row">
        <div class="col-6 col-md">
          <h5>Research</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://drive.google.com/file/d/1qEG82KBAqOov5PUihWuHhJwrLa0Qz806/view?usp=sharing">Análise de correlações entre dados das mídias sociais e preferências musicais </a></li>
            
          </ul>
        </div>

        <div class="col-6 col-md">
          <h5>Contact</h5>
          <ul class="list-unstyled text-small">
            <li>

              <a class="text-muted" href="https://www.instagram.com/delandojunior/"><img style="height:20px" src="/images/ig.png"> @DelandoJunior</a>
            </li>
            <li><a class="text-muted" href="https://twitter.com/delandojr"><img style="height:20px" src="/images/twitter.png">@DelandoJr</a></li>
            <li><a class="text-muted" href="https://www.facebook.com/delando.junior"><img style="height:20px" src="/images/fb.png">Delando Júnior</a></li>
            <li><a class="text-muted" href="https://github.com/delandojuniorr"><img style="height:20px" src="/images/github.png">delandojunior</a></li>
            <li><a class="text-muted" href="mail:ldsmj@cin.ufpe.br"><img style="height:20px" src="/images/mail.png">ldsmj@cin.ufpe.br</a></li>
          </ul>
        </div>
      </div>
    </footer>
  

   



    <!--   
    Bootstrap core JavaScript
    ==================================================
   Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/bootstrap/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bootstrap/assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
        <!-- <script type="text/javascript" src="scatStart.js"></script> -->
    <script type="text/javascript" src="https://visualizacao-ufpe.github.io/data_vis_assignments/2018.1/trips.js"></script>
    <script type="text/javascript" src="/javascripts/scatStart.js"></script>
    <script type="text/javascript" src="/javascripts/problema02.js"></script>
  </body>

</html>